@import '../../UI/sass/variables.scss';

.Inputs {
    margin-top: 1rem;

    &__title {
        font-size: 1.6rem;
        color: $color-secondary;
        font-weight: bold;
        margin: 5px;
        margin-left: 30px;
    }
}
