@import '../../../UI/sass/variables.scss';

.contact {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;

    @include respond(tab-port){
        margin-top: 1.4rem;
    }

    &__textBox {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 2rem;
        height: 2rem;

        @include respond(phone) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &__text {
        font-size: 1.6rem;
        margin-left: 1rem;
        color: $color-grey-light-2;

        @include respond(tab-port){
            font-size: 1.4rem;
        }

        @include respond(phone) {
            font-size: 1rem;
        }
    }
}