@import '../../../components/UI/sass/variables.scss';

.Customer__box {
    border-bottom: 2px solid $color-grey-dark-2;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;

    &:first-child { border-top: 2px solid $color-grey-dark-2; }
    &:nth-child(even) { background-color: $color-grey-dark-1; }

    &:hover &__counter__svg {
        width: 3.6rem;
        height: 3.6rem;
    }

    &__info {

        &__textBox {
            display: flex;
            align-items: center;

            &__box {
                margin-left: 1rem;
                text-align: start;
            }

            &__title {
                font-size: 1.8rem;
                font-weight: bold;
                color: $color-secondary;
            }

            &__span {
                font-size: 1.2rem;
                color: $color-grey-dark-2;
            }
        }
    }

    &__counter {
        display: flex;

        &__svg {
            align-self: center;
            width: 2rem;
            height: 2rem;
            margin-left: 1rem;
            transition: all .4s;
        }
    }
}